<h1 class="mt-5 mb-3 animate__animated animate__bounce">Your Workouts</h1>

<% @workouts.each do |workout| %>
  <h4><%= link_to workout.name, workout %></h4>
<% end %>

<h3 class="mt-4 mb-3"><%= @workouts.count %> workouts</h3>
<%= button_to 'Add New Workout', new_workout_path, :method => 'get', :class => 'btn btn-primary btn-lg' %>
